<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>연구실 정보 서비스</title>
    <link rel="stylesheet" href="\css\login.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>

    <div class='box'>
        <div class='box-form'>
            <div class='box-login-tab'></div>
            <div class='box-login-title'>
                <div class='i i-login'></div>
                <h2>LOGIN</h2>
            </div>
            <div class='box-login'>
                <form class='fieldset-body' id='login_form' method='POST' action='/'>
                    <button onclick="openLoginInfo();" class='b b-form i i-more'></button>
                    <p class='field'>
                        <label for='ID'>아이디</label>
                        <input type="text" name="ID" id="ID" autocapitalize="off" autocomplete="off" required>
                        <span id='valida' class='i i-warning'></span>
                    </p>
                    <p class='field'>
                        <label for='PW'>비밀번호</label>
                        <input type="password" name="PW" id="PW" autocapitalize="off" autocomplete="off" required>
                        <span id='valida' class='i i-close'></span>
                    </p>

                    <label class='checkbox'>
                        <input type='checkbox' name="SaveID" /> 아이디 저장
                    </label>

                    <input type='submit' id='do_login' value='로그인' />
                </form>
            </div>
        </div>
        <div class='box-info'>
            <p><button onclick="closeLoginInfo();" class='b b-info i i-left'></button>
                <br>
            </p>
            <div class='line-wh'></div>
            <a href="/signup/under"><button class='b-cta'> 재학생 회원가입 </button></a>
            <div class='line-wh'></div>
            <a href="/signup/grad"><button class='b-cta'> 졸업생 회원가입 </button></a>
            <div class='line-wh'></div>
            <a href="/signup/prof"><button class='b-cta'> 교수 회원가입 </button></a>
        </div>
    </div>


    <div class='icon-credits'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a
            href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> & <a
            href="http://www.flaticon.com/authors/nice-and-serious" title="Nice and Serious">Nice and Serious</a> from
        <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a>
    </div>


    <!-- 
<section class="login-form">
    <h1>LOGIN-MAIN</h1>
    <form method="POST" accept="/">
        <div class="login-area">
            <input type="text" name="ID" id="ID" autocapitalize="off" autocomplete="off" required>
            <label for="ID">ID</label>
        </div>
        <div class="login-area">
            <input type="password" name="PW" id="PW" autocapitalize="off" autocomplete="off" required>
            <label for="PW">PASSWORD</label>
        </div>
        <div>
            <p class="error" th:text = "${msg}"></p>
        </div>
        <div class="submission">
            <button id="btn" type="submit">제출</button>
        </div>


    </form>
    <div class="caption">
        <a href="/register">회원가입</a>
    </div>

</section> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#do_login").click(function () {
                closeLoginInfo();
                $(this).parent().find('span').css("display", "none");
                $(this).parent().find('span').removeClass("i-save");
                $(this).parent().find('span').removeClass("i-warning");
                $(this).parent().find('span').removeClass("i-close");

                var proceed = true;
                $("#login_form input").each(function () {

                    if (!$.trim($(this).val())) {
                        $(this).parent().find('span').addClass("i-warning");
                        $(this).parent().find('span').css("display", "block");
                        proceed = false;
                    }
                });

                if (proceed) //everything looks good! proceed...
                {
                    $(this).parent().find('span').addClass("i-save");
                    $(this).parent().find('span').css("display", "block");
                }
            });

            //reset previously results and hide all message on .keyup()
            $("#login_form input").keyup(function () {
                $(this).parent().find('span').css("display", "none");
            });

            openLoginInfo();
            setTimeout(closeLoginInfo, 1000);
            IsChecked();
        });

        function IsChecked() {
            if ($('input[name="SaveID"]').is(':checked')) {
                let Id_Val = $('#ID').val();
                setCookie('ID',Id_Val, 365);
            }
        }

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function openLoginInfo() {
            $(document).ready(function () {
                $('.b-form').css("opacity", "0.01");
                $('.box-form').css("left", "-37%");
                $('.box-info').css("right", "-37%");
            });
        }

        function closeLoginInfo() {
            $(document).ready(function () {
                $('.b-form').css("opacity", "1");
                $('.box-form').css("left", "0px");
                $('.box-info').css("right", "-5px");
            });
        }

        $(window).on('resize', function () {
            closeLoginInfo();
        });
    </script>
</body>

</html>