<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>회원가입</title>
</head>
<body>
회원가입입니다.

<form method="post" action="/register">
    ID :<input type="text" name="id"><br>
    PASSWORD :<input type="text" name="password"><br>
    NAME :<input type="text" name="name"><br>
    RS_NUMBER :<input type="text" name="rs_number"><br>
    ST_NUMBER :<input type="text" name="st_number"><br>
    EMAIL :<input type="text" name="email"><br>
    <button type="submit">제출</button>
</form>
</body>
</html>