@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
   background-color: rosybrown;
    /*background: url(WKU-LOGO.png) no-repeat center;*/
    background-size: cover;
}

body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;

    
}

.login-form{
    position: relative; z-index: 2;
}
.login-form h1 {
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.login-area{
    width: 400px; position: relative;
    margin-top: 20px;
}
.login-area:first-child{ 
    margin-top: 0;
}

.login-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #fff;
    outline: none;

}
.login-area label{
    position: absolute; left: 10px; top: 0;
    font-size: 18px; color: #999;
    transition: top .5s ease;

}

.login-area input:focus + label,
.login-area input:valid + label{
    top: -2px;
    font-size: 13px; color: #166cea;
}

.submission{
    margin-top: 30px;
}
.submission button{
    text-align: center;
    width: 100px; height: 50px;
    background: #166cea;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

}

.caption{
    margin-top: 20px;
    text-align: center;
}
.caption a{
    font-size: 15px; color:black;
    text-decoration: none;
}